@import '../../../../styles/variables/colors';

.order-form__size {
  .radio-group {
    padding: 0;
    line-height: 32px;
    border: none;

    &__legend {
      margin-right: 18px;
      margin-bottom: 0;
      display: inline-block;
      width: auto;
      font-size: 18px;
      font-weight: 500;
      text-transform: capitalize;
      border: none;
    }

    &__fields {
      display: inline-block;
    }

    &__error {
      display: block;
      font-size: 16px;
      color: $primaryColor;
    }
  }

  .radio-field{
    display: inline-block;

    &:after {
      content: '-';
      margin: 0 8px;
    }

    &:last-child:after {
      content: ''
    }

    &__input {
      display: none;

      &:checked + .radio-field__label {
        font-size: 19px;
        color: $primaryColor;
      }
    }

    &__label {
      margin: 0;
      font-size: 16px;
      font-weight: 500;
      text-transform: uppercase;

      &:hover {
        cursor: pointer;
      }
    }
  }
}

/*
display: inline-block;
margin: 0 20px;

&__size{
  font-weight: 500;

  &:last-child .size-input__hyphen {
    display: none;
  }
}

*/
