@import '../../../../styles/variables/colors';

.order-form__quantity {
  .quantity-field {
    padding: 0;
    line-height: 32px;

    &__legend {
      margin-right: 18px;
      font-size: 18px;
      font-weight: 500;
      text-transform: capitalize;
      border: none;
    }

    &__value {
      margin: 0 5px;
      color: $primaryColor;
    }
  }
}
