@import '../../styles/variables/colors';

.product-order {
  margin: 0;
  padding: 88px 0 118px;
  background-color: #fff;
  border-top: 1px solid #edeff1;

  &__name {
    margin-top: 10px;
    margin-bottom: 6px;
    color: $primaryColor;
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;
  }

  &__comprise {
    font-size: 19px;
    font-weight: 500;
  }

  &__description {
    margin-top: 14px;
    font-size: 16px;
    line-height: 30px;
  }
}


@media screen and (min-width: 768px) {
  .product-order {
    text-align: left;

    &__header {
      float: right;
    }

    &__name {
      font-size: 56px;
    }
  }
}
