@font-face {
  font-family: 'HarmoniaSansProCyr';
  src: url('./fonts/HarmoniaSansProCyr-Regular.eot?#iefix') format('embedded-opentype'), url('./fonts/HarmoniaSansProCyr-Regular.otf') format('opentype'), url('./fonts/HarmoniaSansProCyr-Regular.woff') format('woff'), url('./fonts/HarmoniaSansProCyr-Regular.ttf') format('truetype'), url('./fonts/HarmoniaSansProCyr-Regular.svg#HarmoniaSansProCyr-Regular') format('svg');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HarmoniaSansProCyr';
  src: url('./fonts/HarmoniaSansProCyr-Black.eot?#iefix') format('embedded-opentype'), url('./fonts/HarmoniaSansProCyr-Black.otf') format('opentype'), url('./fonts/HarmoniaSansProCyr-Black.woff') format('woff'), url('./fonts/HarmoniaSansProCyr-Black.ttf') format('truetype'), url('./fonts/HarmoniaSansProCyr-Black.svg#HarmoniaSansProCyr-Regular') format('svg');
  font-weight: 700;
  font-style: normal;
}
