@import '../../../../../../styles/variables/colors';

.products-collection {
  &__product-card {
    margin-bottom: 30px;
  }

  &__more-btn {
    padding: 22px 0 18px;
    width: 100%;

    &:active, &:focus {
      outline: none;
    }

    &, &:hover, &:focus {
      border: none;
    }

    &, &:active, &:hover, &:active:hover, &:focus {
      background-color: #fff;
    }
  }

  &__ellipsis {
    position: relative;

    &, &:before, &:after {
      display: inline-block;
      width: 9px;
      height: 9px;
      border-radius: 50%;
      background-color: $primaryColor;
    }

    &:before, &:after {
      content: '';
      position: absolute;
      top: 0;
    }

    &:before {
      left: -15px;
    }

    &:after {
      right: -15px;
    }
  }
}
